#pricing {
    padding: 80px 0;
    background-color: #F5F5F5;
}

.list {
    width: 340px;
}

.list__tariff {

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    padding: 12px 0 11px;
    text-align: center;
    background-color: #333333;
    color: #FFFFFF;
    margin-bottom: 2px;
    
}

.list__price {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 35px;
    padding: 28px 0 33px;
    text-align: center;
    background-color: #333333;
    color: #FFFFFF;
    margin-bottom: 2px;
    
    
}

.list__text {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    padding: 14px 0 17px;
    text-align: center;
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2px;
    
}

.list__item {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0 11px;
    text-align: center;
    background-color: #FFFFFF;
    color: #86878B;
    margin-bottom: 2px;
}
