#socialmedia {
    padding: 25px 0;
    width: 100%;
    background: #F8EFEF;
}

.socialmedia__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}


.socialmedia__info {
    margin:0 15px;
}

.socialmedia__title {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    color: #333333;
    margin-bottom: 14px;
}

.socialmedia__text {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #86878B;
}

.socialmedia__icons {
    margin: 0 15px;
    width: 684px;
    display: flex;
    justify-content: space-between;
}

.fa-social_icons {
    color: rgb(179, 173, 173);
    font-size: 50px;
    cursor: pointer;
    transition: transform .7s ease-in-out;
}

.fa-social_icons:hover {

    color: rgba(187, 202, 121, 0.295);/*приглушаем белый цвет*/
    transition-delay: 0s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transform: rotate(360deg); 
}
